obj
bin
*.Cache
*.suo
*.user
*.orig
Doc/_site
Doc/_api
*.DotSettings
Doc/api/*.yml
Doc/api/*.manifest
/ORF.Benchmark/packages
/ORF.UI/.vs
/Optano.Architect/OptanoWizard/Orconomy.Optano.Template.zip
/Optano.Architect/OptanoWizard/Orconomy.Optano.Template/tools
/Optano.Architect/OptanoWizard/Orconomy.Optano.Template/MipCL213WrapperCpp.dll
/Optano.Architect/OptanoWizard/Orconomy.Optano.Template/Scip70WrapperCpp.dll
/Optano.Architect/OptanoWizard/Orconomy.Optano.Template/.vs/FrameworkBlankSolution/v15/Server/sqlite3
/ORF.UI/.vs/config
/ORF.UI/packages/squirrel.windows.1.7.8/tools/SquirrelSetup.log
.vs
/Optano.Architect/OptanoWizard/Orconomy.Optano.Template.zip
/.vscode
Doc/userDoc/.vscode/settings.json
Doc/.vscode/settings.json
Doc/.vscode/settings.json
/ORF.UI/packages/Castle.Core.4.3.1
/ORF.UI/packages/Moq.4.9.0
/ORF.UI/packages/Shouldly.3.0.0
/ORF.UI/packages/System.Threading.Tasks.Extensions.4.3.0
/ORF.UI/packages/System.ValueTuple.4.4.0
/ORF.UI/packages/System.Linq.Dynamic.Core.1.0.9
/ORF.UI/packages/SafeNuGet.1.0.10/build/cache
/ORF.UI/packages
ORF.UI/Deployment/Cake/tools
FAML.Designer.settings
*.FAML
/ORF.OptService/packages
.idea
ORF.UI/Application/Modules/Optano.Web.Module.Demo/optano.log
ORF.Base/packages/
ORF.Test/packages/
/*/Deployment/build.log
/*/Deployment/build.release_tmp.proj
/Optano.Web/Optano.GurobiExamples.ApplicationServer/Deployment/tools

node_modules
.http-mitm-proxy
/ORF.UI/BuildProcess/tools
/Optano.Web/cypress/downloads
Optano.Web/optano.log

*.received.*
*.received/
/Optano.Web/cypress/screenshots
/Optano.Web/cypress/videos
